* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    overflow-x: hidden;
}

:root {
    /* Pallete Color Definations */
    --primary: #007fff;
    --secondary: #EEBB47;
    --black: #050606;

    /* Font Size Definations */
    --font-xs: 12px;
    --font-s: 14px;
    --font-m: 16px;
    --font-l: 18px;
    --font-xl: 22px;
}

.Toastify__toast-body {
    font-family: 'Noto Sans';
    text-align: left;
    font-size: var(--font-s);
    font-weight: 600;
}

.link {
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-weight: 500;
}

.link:hover {
    color: var(--secondary);
}

.loading {
    display: block;
    margin: auto;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

.loading.hide{
    display: none;
}

.loader {
    height: 6px;
    width: 150px;
    background: linear-gradient(#EEBB47 0 0), linear-gradient(#EEBB47 0 0),#fedcb3;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    animation: linear-loader 3s infinite;
    border-radius: 3px;
}
 
@keyframes linear-loader {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
}

.logoImg {
    display: block;
    width: 265px;
    margin: 10px auto;
}